django
asgiref
certifi
cffi
charset-normalizer
cryptography
defusedxml
django-allauth
django-guardian
idna
oauthlib
pycparser
PyJWT
python3-openid
requests
requests-oauthlib
sqlparse
sphinx
sphinx_rtd_theme
tzdata
urllib3
